* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }

  body {
    background-color: white
        font-family: "Poppins", sans-serif;
      
  }
  

/* Navigation Bar */


  nav {
    background-color: #faf9f8;
    padding: 5px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-weight: 300;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li {
    padding: 15px 0;
  }
  nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #6c9974;
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo {
    flex: 1;
    color: #1f2937;
  }
  nav ul li a {
    color: #d3d6c7;
    text-decoration: none;
    transition: 0.4s;
  }
  nav ul li:hover a {
    color: #6c9974;

  }
  nav ul li.active a {
    color: #6c9974;
    font-weight: 300;


  }
  nav ul li i {
    color: #1f2937;
  }
  nav ul li.btn {
    display: none;
  }
  nav ul li.btn.show i:before {
    content: '\f00d';
  }



/* Media Query for Smaller Screens */
@media all and (max-width:610px) {
    nav {
      padding: 5px 30px;
     
      z-index: 9999;
      background-color: white;
    }

    nav ul li.items {
      width: 100%;
      display: none;
    }
    nav ul li.items.show {
      display: block;
    }
    nav ul li.items:hover {
        background-color: none;
    }
    nav ul li.btn {
      display: block;
    }


    nav ul li.items:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 5px;
        height: 2px;
        width: 100%;
        background: none;
        opacity: 0;
        transition: all 0.2s linear;
    
      }

}

.container {
  width:100vw;
  

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:auto;
  gap: 10rem;
  box-sizing: border-box;
  margin-top: 10vh;
}

.container div {

  color: black;
  min-height: 30vh;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 70vh;
  margin-left: 10rem;
}

.box2 {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
 
  margin-right: 10rem;
}
.box3 {
  grid-column-start: 1;
  grid-column-end:4;
}


.box3 img {
  width: 100%;
  height: 100%;
}


h2 {
  padding-top: 2rem;
  font-weight: 500;
  font-size: 20px;
  color: #6c9974;
}


h1 {
  color: #1f2937;
  font-weight: 500;
  font-size: 40px;
}

p {
  padding-top: .5rem;
  color: #1f2937;
  font-size: 20px;
  font-family: poppins;
  font-weight: 300;
  color:  #1f2937;

}

.box4 {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
}
.box4 img {

 
  max-height: 70vh;

}

.box5 {
  grid-column-start: 1;
  grid-column-end:4;
  padding-left: 10rem;
  padding-right: 10rem;
  
}

.box6 {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: centerß;
  align-items: center;

}
.box6 img {
  padding-left: 10rem;
  padding-right: 10rem;
  width: 100%;

}





h3 {
  color: #1f2937;
  font-weight: 300;
  font-size: 30px;
  position:  relative;
}

h3::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 4.5px;
  background-color: #6c9974;
}

.case-study-image {
  width: 100vw;
  padding-top: 64px;
}


/* Footer */
footer {
  background-color: #fff;
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.footer-content {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.socials {
  list-style: none;
  padding: 0; 
  margin-top: 2.5rem;
  display: flex;}

.socials li {
  margin: 0 1rem;}

.socials .media a {
  color: #d3d6c7; 
  font-size: 150%;
}

.socials .media a:hover {
  color: #6c9974; 
  transition: 0.5s;
}

#footer-title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #1f2937;
  position: relative;
}

#footer-title::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  height: 4.5px;
  background-color: #6c9974;
}

.box6 {
  grid-column-start: 1;
   grid-column-end: 11;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 6rem;
   padding-bottom: 5rem;
}

 

#button a {
  background-color: #d3d6c7;
  color: #1f2937;
  padding: .5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-decoration: none;
  border-radius: .5rem;
  font-size: 16px;

}


#button a:hover {
  background-color:#6c9974;
  color: black;
  padding: .5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-decoration: none;
  border-radius: .5rem;
  transition: all 0.2s linear;

}